@using MvcProject.Models.Model
@model IEnumerable<Transactions>
@{
    ViewData["Title"] = "Transaction History";
}
<h2>Transaction History</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>Status</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var transaction in Model)
        {
            <tr>
                <td>@transaction.Id</td>
                <td>@transaction.UserId</td>
                <td>@transaction.Status</td>
                <td>@transaction.Amount</td>
            </tr>
        }
    </tbody>
</table>
