<div class="container mt-5 text-center">
    <h2 class="text-success">Payment Successful!</h2>
 @*    <p><strong>Transaction ID:</strong> @Model.TransactionID</p>
    <p><strong>Amount Paid:</strong> $@(Model.Amount)</p> *@
    <p>Thank you for your payment. Your transaction has been successfully completed.</p>
</div>